@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /*Colors*/

    --very-dark-desaturated-blue: hsl(238 29% 16%);
    --soft-red: hsl(14 88% 65%);
    --very-dark-grayish-blue: hsl(237 12% 33%);
    --dark-grayish-blue: hsl(240 6% 50%);
    --light-grayish-blue: hsl(240 5% 91%);

    /* Gradient */

    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Typography */
    --ff: 'Kumbh Sans', sans-serif;
    --fs: 12px;
    --fw-normal: 400;
    --fw-bold: 700;


    --radius: 1rem;
}

* {
    box-sizing: border-box;
}

.page {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    background: linear-gradient(180deg, rgba(175, 103, 233, 1) 0%, rgba(101, 101, 231, 1) 100%);
}

.faq {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 375px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 10rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    background-color: var(--light-grayish-blue);
    border-radius: var(--radius);
    box-shadow: 0 50px 35px -20px rgba(0, 0, 0, 0.25);

}

.faq__image {
    position: relative;
    width: 240px;
    height: 182px;
    background: url('./images/illustration-woman-online-mobile.svg');
    background-repeat: no-repeat;
    object-fit: fill;

    margin-top: -205px;
    margin-bottom: 3rem;
}

.faq__image::after {
    content: url('./images/bg-pattern-mobile.svg');

    position: absolute;
    bottom: -35px;
    width: 240px;
    height: 104px;
}

.faq__accordion {
    width: 100%;
    font-family: var(--ff);
}

.faq__headline {
    text-align: center;
    font-size: 36px;
}

.faq__accordion-details {
    font-size: 14px;
    padding: 1rem 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.faq__accordion-summary {
    display: flex;
    justify-content: space-between;

}

.faq__accordion-summary:hover {
    color: var(--soft-red);
    cursor: pointer;
}

.faq__accordion-summary::-webkit-details-marker {
    display: none;
}

.faq__accordion-summary::after {
    display: inline-block;
    content: url('./images/icon-arrow-down.svg');
}

.faq__accordion-details[open]>.faq__accordion-summary {
    font-weight: var(--fw-bold);
    padding-bottom: 1rem;
}

.faq__accordion-details[open]>.faq__accordion-summary::after {
    content: url('./images/icon-arrow-down.svg');
    transform: rotate(180deg);
}

@media(min-width: 930px) {
    .faq {
        position: relative;
        width: 922px;
        flex-direction: row;
        justify-content: flex-end;
        padding: 5rem;
        margin-top: 0;
        margin-left: 92px;

        background:
            url('./images/illustration-woman-online-desktop.svg'),
            url('./images/bg-pattern-desktop.svg'),
            var(--light-grayish-blue);

        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size:
            472px 359px,
            auto;

        background-position:
            -80px 50%,
            -570px 65%;

    }

    .faq__accordion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-width: 350px;
    }

    .faq__headline {
        margin-top: 0;
        text-align: left;
    }

    .faq__image {
        width: 191px;
        height: 184px;
        background: url('./images/illustration-box-desktop.svg');
        background-repeat: no-repeat;
        object-fit: fill;

        margin-top: 0;
        margin-bottom: 0;

        position: absolute;
        left: -93px;
        top: 41%;
    }

    .faq__image::after {
        display: none;
    }
}